<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="style 4.css">
    <title> To-DO list </title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
</head>
<body>

    <div class="container">

        <div class="navbar">
      
            <a href="file:///C:/Users/Asloob%20Ahamed/Desktop/web%20design%20(%20mini%20project%20)/index.html"> Home </a> 
            <a href="file:///C:/Users/Asloob%20Ahamed/Desktop/web%20design%20(%20mini%20project%20)/index.2.html"> About us </a>
            <a href="file:///C:/Users/Asloob%20Ahamed/Desktop/web%20design%20(%20mini%20project%20)/index.3.html"> Explore </a>  
            <a href="file:///C:/Users/Asloob%20Ahamed/Desktop/web%20design%20(%20mini%20project%20)/index.4.html" class="active"> To-DO list </a> 
            <a href="file:///C:/Users/Asloob%20Ahamed/Desktop/web%20design%20(%20mini%20project%20)/index.5.html"> Contact us </a>
            
        </div>
        
        <div class="content">

            <div id="app">
               
                <div class="list">

                    <h1> {{ msg }} </h1>
    
                     <ol>
                         <li v-for="item in items"> {{ item }}  </li>
                     </ol> <br>
                                       
                     <input id="input" type="text" placeholder="Type here" v-model="newitem">
    
                     <button v-on:click="additem"> Add to list </button> 

                </div>

            </div>

        </div>

    </div>

    <SCript>
    
        var app = new Vue({
               
            el:"#app",
                data:{
                    msg: "Places To Visit",
                    items:[ ]
                },
                
            methods:{
    
                additem(){
                     this.items.push(this.newitem);
                     this.newitem = '';
                }
            }
        })

    </SCript>
</body>
</html>