* {
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: url(images/aboutus-back.jpg);
    background-size: cover;
    background-position: center;
}   

.navbar {
    background-color: black;
    padding: 10px ;
    text-align: right;
    height: 17px;
}

a { 
    color: white;
    text-decoration: none;
    padding: 10px 25px;
    transition: 0.6s ease;
}

a:hover{
    color: black;
    background-color: orange;
}

.content{
    margin: 10% auto;
    height: 50%;
    width: 700px;
}

.writting{
    height: 100%;
    width: 100%;
    color: #fff;
    text-align: center;
}

.writting h1{
    padding-bottom: 50px;
    font-size: 45px;
}

.end {
    width: 100px;
    margin: 40px auto;
    text-align: center;
    padding: 5px 5px;
    border: 1px solid white;
    background-color: #fff;
    color: black;
}

.active{
    background-color: orange;
    color: black;
}
