* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: url(images/iiii.jpg);
    background-size: cover;
    background-position: center;
    opacity: 95%;
}

.content{
    margin: 0px 200px;
    padding: 10px 10px;
    width: 400px;
    height: 500px;
}

.navbar {
    background-color: black;
    padding: 10px ;
    text-align: right;
    height: 17px;
}

.active{
    background-color: orange;
    color: black;
}

a { 
    color: white;
    text-decoration: none;
    padding: 10px 25px;
    transition: 0.6s ease;
}

a:hover{
    color: black;
    background-color: orange;
}

#app{
    background-color: white;
    margin: 50px auto;
    opacity: 80%;
}

button {
    padding: 5px 5px;
    color: #fff;
    cursor: pointer;
    background-color: black;
    border: 1px solid black;
}

button:hover{
    background-color: maroon;
    border: 1px solid maroon;
}

h1{
    margin-bottom: 20px;
}
#app ul li{
    text-align: center;
}

.list{
    margin: 0px auto;
    padding: 20px 30px;
}

.list input {
   height: 25px;

}
