* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 200vh;
    background-color: rgb(34, 29, 29);
}

.banner{
    height: 100px;
    width: 80%;
    margin: 0px auto;
    text-align: center;
}
 .banner h1{
     color: white;
     padding: 20px;
     font-size: 50px;

}

.content {
    height: 90%;
    width: 95%;
    margin: 20px auto;
}

.place1 {
    height: 30%;
    width: 100%;
}

.place2 {
    margin-top: 30px;
    height: 30%;
    width: 100%;
}

.place3 {
    margin-top: 30px;
    height: 30%;
    width: 100%;
}

.place1 .writing {
    height: 310px;
    width: 700px;
    float: left;
    margin: 20px 50px;
}

.place1 .imgsection {
    height: 310px;
    width: 500px;
    float: right;
    margin: 20px 50px;
}

.place2 .writing {
    height: 310px;
    width: 700px;
    float: left;
    margin: 20px 50px;
}

.place2 .imgsection {
    height: 310px;
    width: 500px;
    float: right;
    margin: 20px 50px;
}

.place3 .writing {
    height: 310px;
    width: 700px;
    float: left;
    margin: 20px 50px;
}

.place3 .imgsection {
    height: 310px;
    width: 500px;
    float: right;
    margin: 20px 50px;
}

.content h4 {
    text-align: center;
    margin-bottom: 40px;
    padding-top: 30px;
    font-size: 20px;
    color: #fff;
}

.content p {
    text-align: center;
    color: #fff;
}

.imgsection img {
    width: 100%;
    height: 100%;
}
